<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css"/>
    <title>e-commerce</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            e-commerce
        </header>
        <aside>
            shopping
        </aside>
        <main class="main">
            <ul>
                <li>produto 1</li>
                <li>produto 2</li>
                <li>produto 3</li>
                <li>produto 4</li>
                <li>produto 5</li>
            </ul>
        </main>
        <footer class="footer">
            todos os direitos reservados
        </footer>
    </div>
</body>
</html>