<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css" />
    <title>e-commerce</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">e-commerce</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="products-image" src="images/caneca_nerd.jpg"  alt="product"/>
                            <div class="product-name">
                                <a href="product.html">Caneca</a></div>
                            <div class="product-brand">The Masters</div>
                            <div class="price">R$25,00</div>
                            <div class="rating">4.7 Estrelas(30 reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="products-image" src="images/caneca_nerd.jpg"  alt="product"/>
                            <div class="product-name">
                                <a href="product.html">Caneca</a></div>
                            <div class="product-brand">The Masters</div>
                            <div class="price">R$25,00</div>
                            <div class="rating">4.7 Estrelas(30 reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="products-image" src="images/caneca_nerd.jpg"  alt="product"/>
                            <div class="product-name">
                                <a href="product.html">Caneca</a></div>
                            <div class="product-brand">The Masters</div>
                            <div class="price">R$25,00</div>
                            <div class="rating">4.7 Estrelas(30 reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="products-image" src="images/caneca_nerd.jpg"  alt="product"/>
                            <div class="product-name">
                                <a href="product.html">Caneca</a></div>
                            <div class="product-brand">The Masters</div>
                            <div class="price">R$25,00</div>
                            <div class="rating">4.7 Estrelas(30 reviews)</div>
                        </div>
                    </li>
                </ul>

            </div>
        </main>
        <footer class="footer">
            todos os direitos reservados
        </footer>
    </div>
</body>

</html>